@function set-color($color) {
    @if (lightness($color) > 50) {
        @return #000; // Lighter backgorund, return dark color
      } @else {
        @return #fff; // Darker background, return light color
      }
}

@function set-hover-color($color) {
    @if (lightness($color) > 50) {
        @return rgba( 45, 55, 65, .85 ); // Lighter backgorund, return dark color
      } @else {
        @return #cbd3da; // Darker background, return light color
      }
}

$primary: #fff; // Background
$secondary: set-color($primary); // Text
$hover: set-hover-color($primary);