@include mediaLg {
    .sidebar_bg {
        width: $sidebar_width_l;
        height: 100vh;

    }

    .sidebar {
        padding:25px 25px 25px 65px;
    }

    .bg .container {
        display: flex;
        justify-content: center;
        width: calc(100vw - #{$sidebar_width_l});
        height: 100vh;

        .content {
            margin: 6rem 2rem 0 2.3rem;;
        }
    }
}

@include mediaXl {
    .sidebar-bg {
        height: 100vh;
    }

    .sidebar {
        padding:45px 45px 45px 85px;
        z-index: 2;
    }

    .bg {
        // margin-left: $sidebar_width_xl;

        .container {
            display: flex;
            justify-content: center;
            height: 100vh;
            width: auto;
            z-index: 2;
            padding-right: calc(#{$sidebar_width_xl}/6); /* Adjust position for sidebar */

            .content {
                max-width: 50vw;
            }
        }
    }
}

@include media2k {
    .sidebar-bg {
        height: 100vh;
    }

    .sidebar {
        padding:55px 55px 55px 100px;
    }

    .bg {
        margin-left: $sidebar_width_xl;
    
        .container {
            display: flex;
            justify-content: center;
            height: 100vh;
        
            .content {
                max-width: 45vw;
            }
        }
    }
}