// Basic layout and styling

body {
    background-color: $bgcolor;
    max-width: 100%;
    font-family: $fontfam;
    line-height: 1.5;
    margin: 0;
}

.sidebar_bg {
    width: $sidebar_width;
    height: 100vh;
    float: left;
    background-color: $sidebarbg;
    background-image: $sidebarbgi;
}

.sidebar {
    padding:45px 45px 45px 85px;
    margin:0;
    color: $sidebar_text;

    .site-title {
        // padding-left: 45px;
        width: calc(50% + 2rem);
    }

    h1 {
        font-weight: 400;
        font-size: 2rem;
        &:hover {
            color: $sidebar_hover;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding:0; }

    a {
        color: $sidebar_text;
        font-size: 1.5rem; 
        &:hover {
            color: $sidebar_hover;
        }
    }
}

// .bg {
//     margin-left: $sidebar_width;
//     height: 100vh;
//     background-position: center;
// }

.bg {
    margin-left: $sidebar_width;
    height: 100vh;
    background: $bgcolor;
    background-position: center;


    .container {
        overflow-y: auto;
        height: 100%;
        margin: 0 auto;
    }

    .content {
        margin: 6rem 1.5rem 0 2rem;
        color: $textcolor;

        h1 {
            font-weight: 400;
            font-size: 4rem;
        }

        h2 {
            font-weight: 400;
            font-size: 2.75rem;
        }

        h3 {
            font-weight: 300;
            font-size: 2.5rem;
        }

        h4 {
            font-weight: 300;
            font-size: 2rem;
        }
    }
}