// Basic layout and styling

body {
    background-color: $bgcolor;
    max-width: 100%;
    font-family: $fontfam;
    line-height: 1.5;
    margin: 0;
}

.sidebar_bg {
    width: $sidebar_width;
    height: 100vh;
    float: left;
    background-color: $sidebarbg;
    background-image: $sidebarbgi;
}

.sidebar {
    margin:25px;

    ul {
        list-style-type: none; }

    a {
        color: $sidebar_text;
        font-size: 2rem; }
}

// .bg {
//     margi    n-left: $sidebar_width;
//     height: 100vh;
//     background-position: center;
// }

.bg {
    margin-left: $sidebar_width;
    height: 100vh;
    background: $bgcolor;
    background-position: center;


    .container {
        overflow-y: auto;
        height: 100%;
        margin: 0 auto;
    }

    .content {
        margin-top: 150px;
        margin-left: 30px;
        color: $textcolor;

        h1 {
            font-weight: 400;
            font-size: 4rem;
        }

        h2 {
            font-weight: 400;
            font-size: 2.75rem;
        }

        h3 {
            font-weight: 300;
            font-size: 2.5rem;
        }

        h4 {
            font-weight: 300;
            font-size: 2rem;
        }
    }
}