// Mixins
@mixin NavFade {
    transition: all $transition_duration ease;
    transition-property: all;
    transition-duration: $transition_duration;
    transition-timing-function: ease;
    -webkit-transition-timing-function: $transition_timing;
    -moz-transition-timing-function: $transition_timing;
    transition-timing-function: $transition_timing;
    -webkit-transition-duration: $transition_duration;
    -moz-transition-duration: $transition_duration;
  }
  
  @mixin stickySidebar {
    transition: all $transition_duration ease;
    transition-property: all;
    transition-duration: $transition_duration;
    transition-timing-function: ease;
    z-index: 100;
    -webkit-transition-timing-function: $transition_timing;
    -moz-transition-timing-function: $transition_timing;
    transition-timing-function: $transition_timing;
    -webkit-transition-duration: $transition_duration;
    -moz-transition-duration: $transition_duration;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px -2px rgba(0,0,0,0.22), 0 2px 1px -1px rgba(0,0,0,0.05);
    overflow-x: hidden;
    white-space: nowrap;
  }
  
  @mixin hamburgerFade {
    transition: all 0.5s ease-in-out;
    color: $sidebar_hover;
  }

  
// Media Queries
@mixin mediaSm {
    @media screen and (max-width:500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width:769px) and (max-width:1024px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width:1024px) and (max-width:1440px) {
        @content;
    }
}

@mixin media2k {
    @media screen and (min-width:1441px) {
        @content;
    }
}