// Colors
$bgcolor: #fff;
$textcolor: #121212;
// $sidebarbg: #000;
// $sidebarbgi: linear-gradient(to bottom, #323232, #0e0e0e);
$sidebarbg: #fff;
$sidebarbgi: none;
$sidebar_text: #121212;

// Typing
$fontfam: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
$sidebar_width: 350px;


