// Functions
@import "functions";

//   Set Colors
$bgcolor: #fff;
$textcolor: set-text-color($bgcolor);
$color_hover:set-hover-color($bgcolor);
// $sidebarbg: #000;
// $sidebarbgi: linear-gradient(to bottom, #323232, #0e0e0e);
$sidebarbg: #fff;
$sidebarbgi: none;
$sidebar_text: set-text-color($sidebarbg);
$sidebar_hover: set-hover-color($sidebarbg);

// Typing
$fontfam: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
$sidebar_width: 380px;
